<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Clasificacion de los equipos argentinos primera division en tiempo real, aqui se puede ver el posicionamiento de los equipos argentinos de primera division"
    />
    <meta name="keywords" content="clasificacion, argentina, equipos, argentinos, posicionamiento, liga, tabla"/>
    <meta name="robots" content="noindex" />
    <meta name="author" content="Mariano Romero" />
    <meta name="publisher" content="Mariano Romero">
    <link rel= "canonical" href="https://app-futbol-argentino.herokuapp.com/"/>
    <title>Equipos Argentinos Primera Division</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mukta:wght@300;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>